<div *ngIf="env.mode === 'showcase'">
  <!-- Component Example -->
  <!-- <app-super-duper value="This is the value" (changed)="onValueChanged($event)"></app-super-duper> -->
  <hr />

  <!-- Inheritance Example -->
  <!-- <app-dog numberOfLegs="4"></app-dog>
  <app-penguin [numberOfLegs]="globals.penguinLegs"></app-penguin> -->
  <hr />

  <!-- Change Detection -->
  <!-- <app-change-detection></app-change-detection> -->
  <hr />

  <!-- Pipes and Directives -->
  <!-- <app-pipes-and-directives></app-pipes-and-directives> -->
  <hr />

  <!-- RxJs -->
  <!-- <app-observables></app-observables> -->
  <hr />

  <!-- State Management -->
  <!-- <app-state-management></app-state-management> -->
  <hr />

  <!-- Server Connection -->
  <!-- <app-some></app-some> -->
  <hr />

  <!-- Css Patterns -->
  <!-- <app-styling></app-styling> -->
  <hr />

  <!-- Facade -->
  <!-- <app-user-details></app-user-details> -->
  <hr />

  <!-- Template Selection -->
  <!-- <app-template-selection></app-template-selection> -->
  <hr />

  <app-routing></app-routing>
  <hr />
</div>

<div class="flex-col app-container full-size" *ngIf="env.mode === 'demo'">
  <!-- TODO : Extract Topbar component -->
  <div class="topbar flex-row">
    <h1>Angular Workshop</h1>
    <div class="icons">
      <!-- <div class="settings"></div> -->
    </div>
  </div>
  <div class="main-content flex-row">
    <app-sidebar></app-sidebar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>