<!-- <div> -->
<div class="hidden">
  <!-- Component Example -->
  <app-super-duper value="This is the value" (changed)="onValueChanged($event)"></app-super-duper>

  <!-- Inheritance Example -->
  <app-dog numberOfLegs="4"></app-dog>
  <app-penguin [numberOfLegs]="globals.penguinLegs"></app-penguin>
</div>

<div class="flex-col app-container full-size">
  <!-- TODO : Extract Topbar component -->
  <div class="topbar flex-row">
    <h1>Angular Workshop</h1>
    <div class="icons">
      <!-- <div class="settings"></div> -->
    </div>
  </div>
  <div class="main-content flex-row">
    <app-sidebar></app-sidebar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>